<footer>
    <div class="container text-center">
        <p>Copyright &copy; Your Website <%= Time.now.year %></p>
        <% if (user_signed_in?)  %>
        <%= @user.email %>
        <%end %>
    </div>

</footer>
