<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">SaiGon guides</h1>
                    <p class="intro-text">Cùng bạn đi khắp nẻo đường Sài Gòn.<br>
                    Thỏa sức khám phá cùng người bản xứ.</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
